.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    margin-top: 20px;
    margin-top: 100px;
}
.Left{
    margin: 40px;
}
@media screen and (max-width: 1320px) {
   .wrapper{
       width: 80%;
       margin-left: 10%;
   }
    
}
@media screen and (max-width: 1054px) {
    .wrapper{
        width: 50%;
    }
     
 }
 @media screen and (max-width: 396px) {
    
    .wrapper{
        max-width: 90%;
        
    }
    .card{
        min-width: 100%;
        max-width: 90%;
    }
 }