.Modal{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 600px;
    transform: translateX(-50%);
    .size{
        width: 125px;
        height: 200px;
       
    }
    .wrapper{
        padding-left: 50px;
    }
}
@media screen and (max-width: 626px) {
    .wrapper{
        display: flex;
        flex-direction: column;
    }
     .list-group-item{
         width: 90%;
     }
     .Modal{
         width: 90%;
     }
 }