.my{
    width: 240px;
    display: flex;
    justify-content: space-between;
   
    .li, .active{
        width: 100px;
        height: 50px;

    }:hover{
        cursor: pointer;
    }
    
}
.fix{
    top: 100px;
    right: 100px;
    position: fixed;
}